:root{
    --primary-color:#6B3CC9;
    --secondary-color:#F28D35;
    --analogous-color-1:#6A44F2;
    --analogous-color-2:#1CBDDD;
    --triadic-color-1:#52378C;
    --dark-color:#78BF91;
    --text-color:#2F2F2F;
    --text-color-light:#545A75;
    --placeholder-text-color:#9C9991;
    --accent-color-white:#E2F2FE;
    --accent-color-yarn:#FFF8E0;
    --error-color:#FF0335;
    --success-color:#5EB30B;

    --font-inter:'Inter',sans-serif;
    --font-poppins:'Poppins',sans-serif;
    --font-lato:'Lato',sans-serif;

    --font-body-text: 50;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: var(--font-inter);
    height: 100%;
}

    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 26px 80px;
        background: var(--primary-color);
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }

        .header #nav-menu{
            display: none;
            cursor: pointer;
            font-size: 28px;
            color: var(--accent-color-white);

        }

        .header .navbar #nav-close{
            display: none;
            position: absolute;
            top: 4%;
            right: 2%;
            cursor: pointer;
            font-size: 3rem;
            color: var(--accent-color-white);
        }

            .header .logo img{
                width: 238.89px;
                height: 25px;
                cursor: pointer;
            }

            .header .navbar a{
                font-family: var(--font-inter);
                font-size: 14px;
                font-weight: var(--font-weight-medium);
                line-height: 16.94px;
                margin-right: 28px;
                color: var(--accent-color-white);
                text-decoration: none;
                text-transform: uppercase;
            }

            .header .navbar a:hover{
                color: #d3ad7f;
                transition: .3s ease;
            }

    .hero-section{
        position: relative;
        width: 100%;
        height: 700px;
        background-image: url('images/hero-image.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

        .hero-section-text-container{
            position: absolute;
            bottom: 20px;
            left: 20px;
            padding: 20px 40px;
            width: 630px;
            height: 306px;
            background: linear-gradient(-90deg, var(--analogous-color-2),#4DCA79);
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            animation: animate 2s ease 1;
        }

            .container-section-details .button,
            .hero-section-text-container .button{
                    display: inline-block;
                    background: var(--secondary-color);
                    margin-top: 20px;
                    padding: 10px 20px;
                    text-decoration: none;
                    border-radius: 4px;
                    font-family: var(--font-inter);
                    font-size: 14px;
                    font-weight: var(--font-weight-bold);
                    line-height: 14px;
                    text-transform: uppercase;
                    color: var(--accent-color-white);

                    &:hover{
                        background: var(--accent-color-yarn);
                        color: var(--secondary-color);
                        border: 1px solid var(--secondary-color);
                        transition: .3s ease;
                    }
                }

            .hero-section-text-container h1{
                font-family: var(--font-inter);
                font-size: 48px;
                font-weight: var(--font-weight-bold);
                line-height: 48px;
                letter-spacing: -0.1rem;
                text-align: left;
                text-transform: capitalize;
                color: var(--accent-color-white);
            }          

    .container{
        padding: 40px;
        text-align: center;
    }

        .container-section{
            display: flex;
            align-items: center;
            background: white;
            width: 1064px;
            height: 414px;
            justify-content: center;
            margin-bottom: 40px;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            animation: animateside 4s ease 1;
        }

            .container-section img{
                flex: 1;
                max-width: 50%;
                width: 100%;
                height: 414px;
                object-fit: cover;
            }

            .section-img.left{
                order: -1;
            }

            .container-section .container-section-details{
                flex: 1;
                max-width: 50%;
                padding: 60px;
                text-align: left;
            }

                .container h3{
                    font-family: var(--font-poppins);
                    font-weight: var(--font-weight-semibold);
                    font-size: 27px;                    
                    line-height: 33px;
                    letter-spacing: 0.4rem;
                    text-align: left;
                    color: var(--primary-color);
                }
            
                .container p{
                    font-family: var(--font-inter);
                    font-size: 16px;
                    padding-top: 20px;
                    line-height: 19.36px;
                    text-align: left;
                    max-width: 800px;
                    margin: 0 auto;
                }
                
        .faq-section{
            text-align: left;
            padding: 20px;
            width: 846px;
            min-height: 392px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;

            h3{
                text-align: center;
                margin-bottom: 15px;
            }
        }

            .faq-item{
                background: #FAF8FF;
                margin-bottom: 15px;
                padding: 15px 20px;
                border-radius: 7px;   
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);            
            }

                .faq-question{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: var(--font-inter);
                    font-size: 22px;
                    font-weight: var(--font-weight-medium);
                    line-height: 28px;
                }

                    .faq-icon{
                        margin-left: 10px; 
                        cursor: pointer;                      
                    }

                .faq-answer{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease;
                    font-size: 18px;
                    font-weight: var(--font-weight-regular);
                    line-height: 30px;
                    text-align: left;
                }

                .faq-item.active .faq-question,
                .faq-item.active .faq-answer{
                    color: var(--primary-color);
                }

            .faq-item.active .faq-answer{
                max-height: 200px;
                
            }
            
            .faq-item.active .faq-icon{
                content: url('images/collapse-icon.svg');
            }

    .footer{
        background: var(--primary-color);
        padding: 20px;
        color: var(--accent-color-white);     
             
    }

        .footer-container{
            position: relative;
            display: flex;
            justify-content: space-between;
        }

            .footer-left{
                flex: 1;

            }

                .footer-logo{
                    max-width: 238.89px;
                    height: 25px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }

                .footer-subtitle{
                    font-family: var(--font-lato);
                    font-size: 16px;
                    font-weight: var(--font-weight-regular);
                    line-height: 19.2px;
                    text-align: left;
                }

            .footer-right{
                flex: 1;
                display: flex;
                justify-content: space-between;
            }

                .footer-column{
                    width: 45%;
                }

                .footer-column-title{
                    font-size: 21px;
                    font-weight: var(--font-weight-semibold);
                    line-height: 25px;
                    margin-bottom: 10px;
                }

                .footer-links{
                    list-style: none;
                    padding: 0;
                }

                    .footer-links li{
                        margin-bottom: 15px;
                        cursor: pointer;
                    }

                        .footer-links a{
                            color: var(--accent-color-white);
                            text-decoration: none;

                            &:hover{
                                color: #d3ad7f;
                                transition: .3s ease;
                            }
                        }

        .footer-bottom{
            text-align: center;
            margin-top: 20px;
        }

            .policy-conditions{
                display: flex;
                justify-content: center;
                padding-top: 16px;
                border-top: 2px solid var(--accent-color-white);
                width: 450px;
                margin: 0 auto;

                a{
                    text-decoration: none;
                    color: var(--accent-color-white);
                    font-size: 14px;
                    font-weight: var(--font-weight-medium);
                    line-height: 17px;

                    &:hover{
                        color: #d3ad7f;
                        transition: .3s ease;
                    }

                    &:not(:last-child)::after{
                        content: '|';
                        margin: 20px;
                        color: var(--accent-color-white);
                    }
                }
            }

@keyframes animate{
    0%{
        transform: translateY(15rem);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes animateside{
    0%{
        transform: translateX(-50rem);
    }
    100%{
        transform: translateX(0);
    }
}
            
@media (max-width: 768px){
    .header{
        padding: 20px;
    }

    .header .navbar a{
        font-size: 12px;
        line-height: 16.94px;
        margin-left: 10px;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-section-text-container{
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        padding: 20px 50px;
        margin-top: 700px;
        z-index: 1;
    }

    .container{
        margin-top: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    .container-section{
        margin-bottom: 50px;
        margin-top: 50px;
        width: 688px;
        height: 350px;
    }

    .container-section .container-section-details{
        padding: 10px;
    }

    .container-section .section-img{
        width: 688px;
        height: 275px;
    }

    .faq-section{
        align-items: center;
        width: 688px;
        padding: 10px;
    }

    .faq-item{
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer{
        height: 430px;
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-right{
        width: 100%;
        text-align: left;
        margin-bottom: 15px;
    }

    .footer-subtitle{
        width: 415px;
        height: 100px;
    }
}

@media (max-width: 375px){
    .header #nav-menu{
        display: inline-block;
    }

    .header .navbar{
        position: fixed;
        top: 0;
        right: -105%;
        width: 100%;
        background: var(--accent-color-white);
        transition: .5s;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        z-index: 3;
    }

        .header .navbar a{
            color: var(--text-color);
        }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar #nav-close{
        display: block;
        padding-right: 15px;
        padding-bottom: 30px;
    }

    .header .menu img{
        position: relative;
        width: 50px;
        height: 20px;
    }

        .header .navbar .nav-list{
            font-size: 30px;
            padding: 50px;
            width: 100%;
        }

    .hero-section{
        width: 100vw;        
    }

        .hero-section-text-container h1{    
            font-size: 36px;
            font-weight: var(--font-weight-bold);
            line-height: 36px;
        }

    .faq-section{
        align-items: center;
        width: 375px;
        padding: 10px;
    }

        .faq-item{
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 30px;
        }
}